---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import KurvOversigt from "../components/KurvOversigt.astro";
import Ialt from "../components/Ialt.astro";
---
<MainLayout title="CPH-LAB | Betaling"> 
	<!-- for hver spacing mellem sektionerne skal der være 112px som kan skrives som py-22, pt-22 eller pb-22 -->
	<article class="mx-14 lg:mx-22">

	<h1 class="text-text-primary text-center text-[32px] font-['Lora'] italic font-bold pt-22 lg:text-5xl lg:pt-12">Levering og betaling</h1>

    <section class="lg:grid lg:grid-cols-3 pt-10">

        
	<section class="mx-0 hidden lg:block">
        <h2 class="text-text-secondary text-center font-['Lora'] italic font-bold text-xl lg:text-3xl">Kurv</h2>

        <div class="flex justify-center">
         <div class="mx-0 lg:mx-19 lg:pt-10">
		<KurvOversigt img="src/assets/images/mm35.webp" price="40 kr." title="Filmrulle:" text="35 mm"/>
        <KurvOversigt img="src/assets/images/digitale-foto.webp" price="79 kr." title="Fremkaldelsestype:" text="Digital fremkaldelse"/>
        <KurvOversigt img="src/assets/images/large.webp" price="0 kr." title="Opløsning:" text="Large"/>
        <KurvOversigt img="src/assets/images/enkelt.webp" title="Antal:" text="1 stk."/>
        <Ialt></Ialt>
        </div>
    </div>
</section>

<section>
    <h2 class="text-text-secondary text-center font-['Lora'] italic font-bold text-xl lg:text-3xl">Kundeoplysninger</h2>
    <!-- Form -->
    <div class="mx-12 lg:mx-19 bg-card-primary border border-card-stroke p-8 mt-6 flex justify-center lg:mt-10">
        
        <form class="text-text-primary" id="Kundeoplysninger">
            <div class="">
            <label for="email">Email</label>
            <input class="flex w-full items-center text-text-special border border-card-secondary focus:bg-card-secondary focus:border-2 focus:border-text-primary focus:ring-card-primary peer" type="email" id="email" name="email"/>
            <p class="mt-2 hidden peer-invalid:block text-text-secondary text-[10px] lg:text-xs">
      Udfyld korrekt email tak.
    </p>
        </div>

            <div class="pt-4">
            <label for="fname">Fornavn</label>
            <input class="flex w-full items-center text-text-special border border-card-secondary focus:bg-card-secondary focus:border-2 focus:border-text-primary focus:ring-card-primary" type="text" id="fname" name="fname" required />
         
        </div>

            <div class="pt-4">
            <label for="lname">Efternavn</label>
            <input class="flex w-full items-center text-text-special border border-card-secondary focus:bg-card-secondary focus:border-2 focus:border-text-primary focus:ring-card-primary" type="text" id="lname" name="lname" required/>
        </div>

            <div class="pt-4">
            <label for="tel">Telefonnummer</label>
            <input class="flex w-full items-center text-text-special border border-card-secondary focus:bg-card-secondary focus:border-2 focus:border-text-primary focus:ring-card-primary" type="tel" id="tel" name="tel" required/>
        </div>

          
        <div class="grid grid-cols-2 gap-6">
            <div class="pt-4">
                <label for="post">Post nr.</label>
                <input class="flex w-full items-center text-text-special border border-card-secondary focus:bg-card-secondary focus:border-2 focus:border-text-primary focus:ring-card-primary" type="text" id="post" name="post" pattern="[0-4]*" required/>
            </div>

            <div class="pt-4"> 
                <label for="by">By</label>
                <input class="flex w-full items-center text-text-special border border-card-secondary focus:bg-card-secondary focus:border-2 focus:border-text-primary focus:ring-card-primary" type="text" id="by" name="by" required/>
            </div>
        </div>
 

            <div class="grid grid-cols-2 gap-6">
                <div class="pt-4">
                    <label for="land">Land</label>
                    <input class="flex w-full items-center text-text-special border border-card-secondary  focus:bg-card-secondary focus:border-2 focus:border-text-primary focus:ring-card-primary" type="text" id="by" name="by" required/>
                </div>

                <div class="pt-4">
                    <label for="Region">Region</label>
                    <input class="flex w-full items-center text-text-special border border-card-secondary focus:bg-card-secondary focus:border-2 focus:border-text-primary focus:ring-card-primary" type="text" id="region" name="region" required/>
                </div>
        </div>
    </div>
    </div>
           
    
        </form>
    </div>
</section>


<section class="lg:pt-0 mt-6">
    <h2 class="text-text-secondary text-center font-['Lora'] italic font-bold text-xl lg:text-3xl">Levering og betaling</h2>
   
    <div class="mx-12 mt-6 lg:mx-19 lg:mt-10 bg-card-primary border border-card-stroke px-8 pt-8 flex justify-center border-b-0">
        <div class="bg-card-stroke p-4 border border-card-secondary w-full">
        
        <form class="text-text-special">

            <div class="pt-4 grid grid-cols-2">
                <div class="flex justify-start">
                    <input class="p-5 mx-4 rounded-full text-card-secondary focus:border focus:border-text-primary focus:ring-card-primary" type="checkbox" id="DAO" name="DAO"/>
                    <label class="pl-2 text-sm " for="DAO">DAO til privatadresse</label>
                </div>

                <div class="text-xs flex justify-end px-5">
                    <p>59 kr.</p>
                </div>
            </div>

                <p class="px-14 text-sm text-text_card-price">1-4 hverdage </p>
                <p class="px-0 pt-6 text-xs text-center pb-6 lg:pt-4 text-processbar-primary">* Kun ved ønske om negativer retur</p>
        </form>
        </div>
    </div>


<div class="mx-12 lg:mx-19 bg-card-primary border border-card-stroke p-8 flex justify-center border-t-0">
    <div class="bg-card-stroke px-4 border border-card-secondary w-full">
    
    <form class="text-text-special">

        <div class="pt-4 grid grid-cols-2">
            <div class="flex justify-start">
                <input class="p-5 mx-4 rounded-full text-card-secondary focus:border focus:border-text-primary focus:ring-card-primary" type="checkbox" id="free" name="free"/>
                <label class="pl-2 text-sm " for="free">Ingen levering/Afhent</label>
            </div>

            <div class="text-xs flex justify-end px-5">
                <p class="uppercase">Gratis</p>
            </div>
        </div>

            <p class="px-13 text-sm text-text_card-price pt-2 pb-6">Hovedgaden 12, 2970 Hørsholm, Denmark</p>
            <p class="px-0 pt-6 text-xs text-center pb-6 text-processbar-primary hidden"></p>
    </form>
    </div>
</div>

<div class="mx-12 mt-6 lg:mx-19 lg:mt-10 bg-card-primary border border-card-stroke px-8 pt-8 flex justify-center border-b-0">
    <div class="bg-card-stroke p-4 border border-card-secondary w-full">
    
    <form class="text-text-special">

        <div class="pt-4 grid grid-cols-2">
            <div class="flex justify-start">
                <input class="p-5 mx-4 rounded-full text-card-secondary focus:border focus:border-text-primary focus:ring-card-primary" type="checkbox" id="mobilepay" name="mobilepay"/>
                <label class="pl-2 text-sm " for="mobilepay">MobilePay</label>
            </div>

            <div class="text-xs flex justify-end px-5">
                <img src="../src/assets/images/mobilepay.png"></img>
            </div>
        </div>

    </form>
    </div>
</div>


<div class="mx-12 lg:mx-19 bg-card-primary border border-card-stroke p-8 flex justify-center border-t-0">
<div class="bg-card-stroke p-6 border border-card-secondary w-full">

<form class="text-text-special">

    <div class="pt-4 grid grid-cols-2">
        <div class="flex justify-start">
            <input class="p-5 mx-4 rounded-full text-card-secondary focus:border focus:border-text-primary focus:ring-card-primary" type="checkbox" id="free" name="free"/>
            <label class="pl-2 text-sm " for="free">Betalingskort</label>
        </div>

        <div class="text-xs flex justify-end px-5">
            <img src="../src/assets/images/kort.png">
        </div>
    </div>

</form>
</div>
</div>
</section>
</section>


<!-- Web -->
<div class="hidden lg:block pt-0">
    <div class="grid grid-cols-2 pt-10">

        <!-- Tilbage knap -->
        <div class="flex justify-start mx-19">

            <a href="/kurv">
        <Button variant="secondary" size="medium">Tilbage</Button>
            </a>
        </div>

        <!-- Fortsæt knap -->
        <div class="flex justify-end mx-19">
            <input type="hidden" id="submit-button"/>

            <a href="/tak">

        <Button variant="primary" size="medium" type="submit" value="Submit" onclick="submitForm()" form="Kundeoplysninger" >Fortsæt til betaling</Button>
            </a>
        </input>
        </div>
    </div>
    </div>
    
    <!-- Mobil -->
    <div class="lg:hidden">
        <div class="grid grid-cols-2 pt-19 gap-0 mx-0">
            
         
                <!-- Tilbage knap -->
				<div class="flex justify-center mx-0">
                    <a href="/kurv">
                    <Button variant="secondary" size="small">Tilbage</Button>
                    </a>
                </div>
          
                    <!-- Fortsæt knap -->
                    <div class="flex justify-center mx-0">
                    <a href="/tak">
                    <Button variant="primary" size="small">Fortsæt</Button>
                    </a>
                </div>
    
            </div>
        </div>
    </div>
</div>
        
    
    </article>
</MainLayout>

<script>

    function submitForm() {
    document.getElementById("submit-button").click();
  }


  </script>