---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Forside from "../components/Forside.astro";
---
<MainLayout title="CPH-LAB"> 
	<!-- for hver spacing mellem sektionerne skal der være 112px som kan skrives som py-22, pt-22 eller pb-22 -->

<!-- <Button variant="primary" size="small">Primary button</Button>
<Button variant="secondary" size="small">Secondary button</Button>
<Button variant="primary" size="medium">Primary button</Button>
<Button variant="secondary" size="medium">Secondary button</Button>
<Button variant="primary" size="large">Primary button</Button>
<Button variant="secondary" size="large">Secondary button</Button> -->

	<Forside>

</MainLayout>