---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import KurvOversigt from "../components/KurvOversigt.astro";
import Ialt from "../components/Ialt.astro";
---
<MainLayout title="CPH-LAB | Kurv"> 
	<!-- for hver spacing mellem sektionerne skal der være 112px som kan skrives som py-22, pt-22 eller pb-22 -->
	<article class="mx-15">

	
    <!-- Brødkrummesti mobil -->
    <div class="lg:hidden">
		<div class="list-none flex text-text-primary font-extralight pt-22 gap-4 text-xs mx-11">
			<p>Fremkaldelse</p>
			<p>Størrelse</p>
			<p>Fremkaldelsestype</p>
		</div>
		<div class="list-none flex text-text-primary font-extralight pt-1 gap-4 text-xs mx-11">
			<p>Opløsning</p>
			<p>Kvantitet</p>
			<p class="text-text-secondary">Kurv</p>
		</div>
	</div>
	
	  <!-- Brødkrummesti web -->
	  <div class="hidden lg:block">
		<div class="list-none flex text-text-primary font-extralight pt-12 pb-12 gap-14 text-sm">
			<p>Fremkaldelse</p>
			<p>Størrelse</p>
			<p>Fremkaldelsestype</p>
			<p>Opløsning</p>
			<p>Kvantitet</p>
			<p class="text-text-secondary">Kurv</p>
		</div>
	</div>

	<h1 class="text-text-primary text-center text-[32px] font-display italic font-bold pt-12 lg:mt-0 lg:text-5xl lg:pt-4">Kurv</h1>


	<!-- Card af filmruller -->
	<section class="mx-11">
        <h2 class="text-text-secondary text-center font-display italic font-bold text-xl lg:text-3xl lg:pt-6">Dine fremkaldelsesvalg</h2>

        <div class="flex justify-center">
         <div class="mx-0 lg:mx-32 lg:pt-10 pt-12">
		<KurvOversigt img="/mm35.webp" price="40 kr." title="Filmrulle:" text="35 mm"/>
        <KurvOversigt img="/digitale-foto.webp" price="79 kr." title="Fremkaldelsestype:" text="Digital fremkaldelse"/>
        <KurvOversigt img="/large.webp" price="0 kr." title="Opløsning:" text="Large"/>
        <KurvOversigt img="/enkelt.webp" title="Antal:" text="1 stk."/>
        <Ialt></Ialt>
        </div>
    </div>
         

</div>
</section>



<!-- Web -->
<div class="hidden lg:block">
<div class="grid grid-cols-2 pt-16">
    <!-- Tilbage knap -->
    <div class="flex justify-start mx-22">
        <a href="/antal">
    <Button variant="secondary" size="medium">Tilbage</Button>
        </a>
    </div>

    <!-- Fortsæt knap -->
    <div class="flex justify-end mx-22 gap-8">
        <a href="/fremkaldelse">
        <Button variant="secondary" size="medium">Shop videre</Button>
        </a> 

        <a href="/betaling">
    <Button variant="primary" size="medium">Fortsæt til checkout</Button>
        </a>
    </div>
</div>
</div>

<!-- Mobil -->
<div class="lg:hidden">

    <div class="flex justify-center pt-12">
        <!-- Fortsæt knap -->
        <a href="/betaling">
        <Button variant="primary" size="small">Fortsæt til checkout</Button>
        </a>
    </div>

    <div class="grid grid-cols-2 pt-8 gap-6 mx-10">
        
     
            <!-- Tilbage knap -->
				<div class="flex justify-center mx-0">
                    <a href="/antal">
                    <Button variant="secondary" size="small">Tilbage</Button>
                    </a>
                </div>
          
                    <!-- Fortsæt knap -->
                    <div class="flex justify-center mx-0">
                    <a href="/betaling">
                    <Button variant="secondary" size="small">Fortsæt</Button>
                    </a>
                </div>

        </div>
    </div>
</div>
	
 
</article>
</MainLayout>


