---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import KvalitetCard from "../components/KvalitetCard.astro";
import Papir from "../components/Papir.astro";
---
<MainLayout title="CPH-Lab"> 
	<!-- for hver spacing mellem sektionerne skal der være 112px som kan skrives som py-22, pt-22 eller pb-22 -->
	<article class="">

	
    <!-- Brødkrummesti mobil -->
    <div class="lg:hidden">
		<div class="list-none flex text-text-primary font-extralight pt-22 gap-4 text-xs mx-11 font-['Arial']">
			<p>Fremkaldelse</p>
			<p>Størrelse</p>
			<p>Fremkaldelsestype</p>
		</div>
		<div class="list-none flex text-text-primary font-extralight pt-1 gap-4 text-xs mx-11">
			<p class="text-text-secondary">Opløsning</p>
			<p>Kvantitet</p>
			<p>Kurv</p>
		</div>
	</div>
	
	  <!-- Brødkrummesti web -->
	  <div class="hidden lg:block">
		<div class="list-none flex text-text-primary font-extralight pt-3 pb-12 gap-14 text-sm mx-11 font-['Arial']">
			<p>Fremkaldelse</p>
			<p>Størrelse</p>
			<p>Fremkaldelsestype</p>
			<p class="text-text-secondary">Opløsning</p>
			<p>Kvantitet</p>
			<p>Kurv</p>
		</div>
	</div>

	<h1 class="text-text-primary text-center text-[32px] font-['Lora'] font-bold pt-12 lg:text-5xl">Opløsning</h1>


	<!-- Card af filmruller -->
	<section class="mx-11">
        <h2 class="text-text-secondary text-center font-['Lora'] text-xl lg:text-4xl">Vælg scan kvalitet</h2>

    <div class="flex justify-center">
		<div class="grid grid-cols-3 gap-9 lg:gap-20 lg:pt-14 pt-12">
         
		<KvalitetCard img="src/assets/images/large.webp" alt="large" title="Large" text="Kan printes i A4 størrelse" textto="5 megapixel" price="+0 kr."/>
         
		<KvalitetCard img="src/assets/images/x-large.webp" alt="x-large" title="X-Large" text="Kan printes i A3 størrelse" textto="9 megapixel" price="+29 kr."/>
          
		<KvalitetCard img="src/assets/images/xx-large.webp" alt="xx-large" title="XX-Large" text="Kan printes i plakatstørrelse" textto="19 megapixel" price="+99 kr."/>
	    </div>
	</div>
</section>

<section>
<h2 class="text-text-secondary text-center pt-15 font-['Lora'] text-xl lg:text-4xl lg:pt-20">Vælg papirtype</h2>

<div class="flex justify-center">
<div class="grid grid-cols-2 text-text-primary text-center mx-10 gap-11 lg:mx-22 lg:gap-18">
    <div>
        <Papir title="Mat" price="+0 kr."></Papir>
        <Papir title="Blankt" price="+0 kr."></Papir>
    </div>

    <div>
        <Papir title="Mat m. hvid kant" price="+0 kr."></Papir>
        <Papir title="Blankt m. hvid kant" price="+0 kr."></Papir>
    </div>
</div>
</div>
</section>

<!-- Web -->
<div class="hidden lg:block">
<div class="grid grid-cols-2 pt-6">
    <!-- Tilbage knap -->
    <div class="flex justify-start mx-22">
    <Button variant="secondary" size="medium">Tilbage</Button>
    </div>

    <!-- Fortsæt knap -->
    <div class="flex justify-end mx-22">
    <Button variant="primary" size="medium">Fortsæt</Button>
    </div>
</div>
</div>

<!-- Mobil -->
<div class="lg:hidden">
    <div class="grid grid-cols-2 pt-19 gap-6 mx-10">
        
     
            <!-- Tilbage knap -->
            <Button variant="secondary" size="small">Tilbage</Button>
  
            <!-- Fortsæt knap -->
            <Button variant="primary" size="small">Fortsæt</Button>

        </div>
    </div>
</div>
	

</article>
</MainLayout>
