---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="CPH-Lab"> 
	<!-- for hver spacing mellem sektionerne skal der være 112px som kan skrives som py-22, pt-22 eller pb-22 -->
	
	<!--Brødkrummesti -->
	<h1 class="text-text-primary">Størrelse</h1>
	<h2 class="text-text-secondary">Vælg din filmrulle</h2>

	<h3 class="text-text-primary">Standard størrelser</h3>
	<!-- Card af filmruller -->

	<h3 class="text-text-primary">Special størrelser</h3>
	<!-- Card af filmruller -->
	<!-- Fortsæt knap -->
</MainLayout>