---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import BestilCard from '../components/BestilCard.astro'
---
<MainLayout title="CPH-LAB | Størrelse"> 
	<!-- for hver spacing mellem sektionerne skal der være 112px som kan skrives som py-22, pt-22 eller pb-22 -->
	<article class="mx-19">

	
    <!-- Brødkrummesti mobil -->
    <div class="lg:hidden">
		<div class="list-none flex text-text-primary font-extralight pt-22 gap-4 text-xs mx-11 font-['Arial']">
			<p>Fremkaldelse</p>
			<p class="text-text-secondary">Størrelse</p>
			<p>Fremkaldelsestype</p>
		</div>
		<div class="list-none flex text-text-primary font-extralight pt-1 gap-4 text-xs mx-11">
			<p>Opløsning</p>
			<p>Kvantitet</p>
			<p>Kurv</p>
		</div>
	</div>
	
	  <!-- Brødkrummesti web -->
	  <div class="hidden lg:block">
		<div class="list-none flex text-text-primary font-extralight pt-16 pb-12 gap-14 text-sm mx-11 font-['Arial']">
			<p>Fremkaldelse</p>
			<p class="text-text-secondary">Størrelse</p>
			<p>Fremkaldelsestype</p>
			<p>Opløsning</p>
			<p>Kvantitet</p>
			<p>Kurv</p>
		</div>
	</div>

	<h1 class="text-text-primary text-center text-[32px] font-bold italic font-['Lora'] pt-12 lg:mt-0 lg:text-5xl">Størrelse</h1>
	<h2 class="text-text-secondary text-center font-['Lora'] font-bold italic text-xl lg:text-3xl lg:pt-6">Vælg din filmrulle</h2>

	<h3 class="text-text-primary text-center font-bold italic font-['Lora'] pt-10 lg:text-2xl lg:pt-14 lg:pb-6 ">Standard størrelser</h3>
	<!-- Card af filmruller -->
	<div class="flex justify-center">
	<div class="grid grid-cols-2 gap-15 lg:gap-20 px-12 py-5 mx-0 ">
	<BestilCard img="/mm35.webp" alt="35mm filmrulle" title="35mm" price="40 kr."/>
	<BestilCard img="/mm120.webp" alt="120mm filmrulle" title="120mm" price="120 kr."/>
</div>
</div>

	<h3 class="text-text-primary pt-15 text-center font-bold italic font-['Lora'] lg:text-2xl lg:pt-14 lg:pb-6">Special størrelser</h3>
	<!-- Card af filmruller -->
	<div class="flex justify-center">
		<div class="grid grid-cols-2 gap-15 lg:gap-20 px-12 py-5 mx-0 lg:grid-cols-4 ">
		<BestilCard img="/mm127.webp" alt="35mm filmrulle" title="35mm" price="40 kr."/>
		<BestilCard img="/mm110.webp" alt="120mm filmrulle" title="120mm" price="120 kr."/>
		<BestilCard img="/mm126.webp" alt="35mm filmrulle" title="35mm" price="40 kr."/>
		<BestilCard img="/storformat.webp" alt="120mm filmrulle" title="120mm" price="120 kr."/>
	</div>
	</div>

	<!-- Web -->
<div class="hidden lg:block">
	<div class="grid grid-cols-2 pt-16">
		<!-- Tilbage knap -->
		<div class="flex justify-start mx-22">
			<a href="/fremkaldelse">
		<Button variant="secondary" size="medium">Tilbage</Button>
			</a>
		</div>
	
		<!-- Fortsæt knap -->
		<div class="flex justify-end mx-22">
			<a href="/type">
		<Button variant="primary" size="medium">Fortsæt</Button>
			</a>
		</div>
	</div>
	</div>
	
	<!-- Mobil -->
	<div class="lg:hidden">
		<div class="grid grid-cols-2 pt-19 gap-6">
			
		 
				<!-- Tilbage knap -->
				<div class="flex justify-center mx-0">
				<a href="/fremkaldelse">
				<Button variant="secondary" size="small">Tilbage</Button>
				</a>
			</div>
	  
				<!-- Fortsæt knap -->
				<div class="flex justify-center mx-0">
				<a href="/type">
				<Button variant="primary" size="small">Fortsæt</Button>
				</a>
			</div>
	
			</div>
		</div>
	</div>

</article>
</MainLayout>