---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import BestilCard from '../components/BestilCard.astro'
---
<MainLayout title="CPH-Lab"> 
	<!-- for hver spacing mellem sektionerne skal der være 112px som kan skrives som py-22, pt-22 eller pb-22 -->
	<article class="mx-19">

	<!-- Brødkrummesti -->
	<div class="list-none">
		<p>Størrelse</p>
		<p>Fremkaldelse</p>
		<p>Kvalitet</p>
		<p>Kvantitet</p>
		<p>Kurv</p>
	</div>

	<h1 class="text-text-primary">Størrelse</h1>
	<h2 class="text-text-secondary">Vælg din filmrulle</h2>

	<h3 class="text-text-primary">Standard størrelser</h3>
	<!-- Card af filmruller -->
	<div class="grid grid-cols-2 gap-15 lg:gap-20 px-12 py-5 -mx-11">
	<BestilCard img="src/assets/images/mm35.webp" alt="35mm filmrulle" title="35mm" price="40 kr."/>
	<BestilCard img="src/assets/images/mm120.webp" alt="120mm filmrulle" title="120mm" price="120 kr."/>
</div>

	<h3 class="text-text-primary">Special størrelser</h3>
	<!-- Card af filmruller -->
	<!-- Fortsæt knap -->

</article>
</MainLayout>