---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import GuideCards from "../components/GuideCards.astro";
---
<MainLayout title="CPH-LAB | Tak for din ordre"> 
	<!-- for hver spacing mellem sektionerne skal der være 112px som kan skrives som py-22, pt-22 eller pb-22 -->
	<article class="mx-19">

<h1  class="text-text-primary text-center text-[32px] font-['Lora'] italic font-bold pt-22 lg:mt-0 lg:text-5xl">Tak!</h1>
<h2 class="text-text-secondary text-center font-['Lora'] italic font-bold text-xl lg:text-3xl lg:pt-6">Dit ordrenummer er;</h2>
<h3 class="text-text-primary text-center  font-['Lora'] italic font-bold text-xl pt-6 lg:text-3xl">SO25032</h3>
<p class="font-['Arial'] text-text-primary text-sm lg:text-xl text-center pt-10">En separat ordrebekræftelse er sendt til din e-mail indbakke.</p>



<section class="lg:mx-17 lg:pt-17">
<h3 class="text-text-primary text-center lg:text-start font-bold font-['Lora'] italic pt-16 text-xl lg:text-4xl lg:pt-14 lg:pb-6 mx-19">Følg denne guide:</h3>

<div class="lg:grid lg:grid-cols-3 lg:gap-19 lg:mx-19 mx-11">
    <GuideCards title="01. Pak dine medier" img="/pak.webp" alt="computer" text="Pak dine medier (film, bånd, dias, smalfilm) i en konvolut eller pakke."></GuideCards>
    <GuideCards title="02. Skriv dine informationer" img="/skriv.webp" alt="computer" text="Skriv dit ordrenummer, e-mail og fulde navn på pakken."></GuideCards>
    <GuideCards title="03. Send din pakke" img="/send.webp" alt="computer" text="Send pakken med posten til fremkalderstudiet." textto="Vi anbefaler, at du tilkøber Track and Trace til forsendelsen. "></GuideCards>
</div>
</section>

	</article>

