---
const {img, title, price} = Astro.props;
---

<div class="bg-card-primary hover:bg-card-secondary active:bg-card-secondary border border-card-stroke lg:px-10 lg:py-11  hover:text-text-special btn cursor-pointer">
<img class="md:w-[100px] md:h-[80px] w-auto h-full" src={img}>
<p class="text-center text-text-primary text-sm lg:pt-9 lg:text-md text">{title}</p>
<p class="text-center text-text_card-price text-sm lg:text-md price">{price}</p>
</div>

<script>
const btn = document.querySelector('.btn');
btn.addEventListener('click', () => {
    btn.style.backgroundColor = '#E0C56A';
    btn.style.transition = '.5s ease';

    const priceElement = btn.querySelector('.price');
    if (priceElement) {
        priceElement.style.color = '#010101'; // Change this color to your desired color
        priceElement.style.transition = '.5s ease';
    }

    const textElement = btn.querySelector('.text');
    if (textElement) {
        textElement.style.color = '#010101'; // Change this color to your desired color
        textElement.style.transition = '.5s ease';
    }
    return false
});

    </script>