---
---

<div class="sticky">
    <div class="flex items-center sticky top-[0px] h-screen w-screen bg-[url('/ensom-computer2.webp')]">
      <p class="w-1/2 h-1/2 mx-auto p-[10px] text-[16px] md:text-[20px]">Fra slutningen af 1980'erne ændrede fotografering radikalt.Digitalkameraets fremkomst gjorde det hurtigere, billigere og mere
        tilgængeligt at tage billeder. Fotografer kunne tage ubegrænsede
        billeder uden filmruller og se resultaterne øjeblikkeligt på en skærm.</p>
      </div>
      <div class=" flex items-center sticky top-[0px] h-screen w-screen ">
      <p class="w-1/2 mx-auto p-[10px] text-[16px] md:text-[20px]">  Denne teknologiske forandring gjorde fotografering mere tilgængelig og ændrede måden, vi oplever fotografier på. Alt i alt førte indførelsen af digitalkameraet til en ny æra af praksis, kvalitet og billedkommunikation.</p>
      </div>
    </div>