---
const {img, price, title, text} = Astro.props;
---

<div class="grid grid-cols-2 bg-card-secondary border border-card-stroke px-6 py-4 lg:py-6">
    <div class="flex justify-start px-6">
    <p class="text-text-special font-bold lg:text-xl text-md">Total</p>
    </div>

    <div class="flex justify-end px-6">
    <p class="text-text-special font-bold lg:text-xl text-md" >119 kr.</p>
    </div>
</div>
