---
const {img, price, title, text} = Astro.props;
---
<div class="grid grid-cols-3 bg-card-primary border border-card-stroke px-6 py-4 ">

<div class="span-cols-1">
    <img class="w-[62px] h-[62px] lg:w-[80px] lg:h-[70px]" src={img}>
</div>

<div class="span-cols-2 text-text-primary lg:mx-0">
<p class="text-text-primary lg:text-md font-bold text-sm font-['Arial']">{price}</p>
<p class="text-text_card-price lg:text-sm text-sm font-['Arial']">{title}</p>
<p class="text-text-primary text-sm lg:text-sm  font-['Arial']">{text}</p>
</div>
</div>