---
const {title, price} = Astro.props;
---
<div class="bg-card-primary border border-x-card-stroke px-10 py-6 mt-10 lg:mt-12 hover:bg-card-secondary hover:text-text-special ">
    <p class="text-text-primary text-mobilsm lg:text-md font-[body]">{title}</p>
    <p class="text-text_card-price font-[body]">{price}</p>
</div>



