---
---

<div class="progress-bar h-6 fixed w-screen bg-processbar-primary left-[0px] origin-top-left top-[0px] right-[0px] z-10"></div>

<script>
     import { animate, scroll} from "motion";
      // processbar
  scroll( animate(".progress-bar", { scaleX: [0, 1] }));
</script>