---
import { Image } from "astro:assets";
import filmrulle2 from "../assets/images/filmrulle-2.webp";
---


 <!-- Hvor det blev Retro mobil -->
 <section class="sektion5 py-22 relative block md:hidden">
    <div class="md:grid md:grid-cols-2 md:pb-[480px] overflow-hidden">
      <div></div>
      <div>
        <h2
          class="font-['Lora'] text-text-primary font-bold italic md:text-4xl text-[20px] pl-14"
        >
          Hvor det blev retro... <!--indsæt fadeInLeft -->
        </h2>

        <div
          class="my-10 gulOverskrift border border-card-stroke w-[270px] md:w-screen -ml-[10px] md:ml-[15px] z-10"
        >
          <h3
            class="py-2 px-5 md:px-8 md:py-4  font-['Lora'] text-text-secondary font-bold md:text-4xl text-[24px] fadeInLeft9  text-right md:text-left "
          >
            Den digitale tidsalder 
          </h3>
        </div>
        <p
          class="leading-relaxed md:w-4/5 text-text-primary mobil_sm md:text-xl pl-14 w-5/6 "
        >
          Selvom digital fotografi har domineret markedet siden 1990'erne på
          grund af dets bekvemmelighed og hurtige resultater, forbliver analog
          fotografi populært blandt dem der værdsætter det unikke udtryk og den
          håndværksmæssige proces.
        </p>
        <p
          class="mt-12 leading-relaxed md:w-4/5 text-text-primary mobil_sm md:text-xl pb-32 pl-14  w-5/6"
        >
          Både erfarne fotografer og unge entusiaster ser det som en modreaktion
          mod den manipulerede virkelighed, som digitale medier har skabt, og
          ser stor værdi i det retro udtryk og den omhu som er forbunden med den
          analoge praksis.
        </p>
      </div>
    </div>

    <div class="overflow-hidden">
      <Image
        src={filmrulle2}
        alt=""
        class="w-screen md:w-screen absolute top-[510px] md:top-[150px] lg:top-[100px] xl:top-[90px]"
      />
    </div>

    <!-- Hvor vi er nu... -->
    <div class="md:-mt-28">
      <h2
        class="font-['Lora'] text-text-primary font-bold italic md:text-4xl text-[20px] pl-14 md:px-24"
      >
        Hvor vi er nu...
      </h2>
      <div
        class="my-10 lg:py-5 gulOverskrift border border-card-stroke w-[120px] md:w-[430px] ml-[-21px] md:ml-[-200px] pl-14"
      >
        <h3
          class="py-2 px-10 md:px-8 md:py-4 font-['Lora'] text-text-secondary font-bold md:text-4xl text-[24px] text-right fadeInLeft4"
        >
          2024
        </h3>
      </div>
      <div
        class="paragraf sektion md:grid md:grid-cols-2 md:gap-20 text-text-primary mobil_sm md:text-xl pl-14 md:px-24"
      >
        <div class="">
          <p class="leading-relaxed mobil_sm md:text-xl w-5/6">
            Vi tror på, at analogbilleder stadig har en unik charme, der
            imponerer. Vi elsker det æstetiske udtryk, farverne og den organiske
            følelse, som film formidler, og vi ønsker at dette medium forbliver
            i vores måde at fotografere på.
          </p>
          <p class="mt-12 mb-12 leading-relaxed mobil_sm md:text-xl w-5/6">
            Hos CPH-LAB står vi klar til at hjælpe dig med at få det bedste ud
            af dine analoge billeder. Vi tilbyder fremkaldelse af dine
            filmruller, scanning af dine negativer, printning af dine
            mesterværker og levering af nye filmruller, når du har brug for dem.
          </p>
        </div>
        <div>
          <p class="leading-relaxed mobil_sm md:text-xl w-5/6">
            Vores mission er at gøre det enkelt for alle at skyde analogt og at
            sikre en pålidelig fremkaldelsesproces. CPH-LAB ønsker at give folk
            mulighed for at opleve dette særlige udtryk ved at tilbyde en
            tilgængelig platform.
          </p>
          <p class="mt-12 leading-relaxed mobil_sm md:text-xl w-5/6">
            Vi har til hensigt at forene det analoge medium med dets tidløse
            charme og samtidig tilbyde en let og tilgængelig service, der
            leveres på et digitalt sølvfad..
          </p>
        </div>
      </div>
    </div>
  </section>


   <!-- Hvor det blev Retro desktop -->
 <section class="sektion5 py-22 relative hidden md:block">
    <div class="grid grid-cols-2 pb-[480px] overflow-hidden">
      <div></div>
      <div>
        <h2
          class="font-['Lora'] text-text-primary font-bold italic text-4xl  pl-14"
        >
          Hvor det blev retro... <!--indsæt fadeInLeft -->
        </h2>

        <div
          class="my-10 gulOverskrift border border-card-stroke w-screen ml-[15px] z-10"
        >
          <h3
            class="px-8 py-4  font-['Lora'] text-text-secondary font-bold text-4xl fadeInRight2 text-left "
          >
            Den digitale tidsalder 
          </h3>
        </div>
        <p
          class="leading-relaxed w-4/5 text-text-primary text-xl pl-14  "
        >
          Selvom digital fotografi har domineret markedet siden 1990'erne på
          grund af dets bekvemmelighed og hurtige resultater, forbliver analog
          fotografi populært blandt dem der værdsætter det unikke udtryk og den
          håndværksmæssige proces.
        </p>
        <p
          class="mt-12 leading-relaxed w-4/5 text-text-primary text-xl pb-32 pl-14 "
        >
          Både erfarne fotografer og unge entusiaster ser det som en modreaktion
          mod den manipulerede virkelighed, som digitale medier har skabt, og
          ser stor værdi i det retro udtryk og den omhu som er forbunden med den
          analoge praksis.
        </p>
      </div>
    </div>

    <div class="overflow-hidden">
      <Image
        src={filmrulle2}
        alt=""
        class="w-screen  absolute top-[150px]"
      />
    </div>

    <!-- Hvor vi er nu... -->
    <div class="md:-mt-28">
      <h2
        class="font-['Lora'] text-text-primary font-bold italic text-4xl  pl-14 px-24"
      >
        Hvor vi er nu...
      </h2>
      <div
        class="my-10 lg:py-5 gulOverskrift border border-card-stroke  w-[430px] ml-[-200px] pl-14"
      >
        <h3
          class="px-8 py-4 font-['Lora'] text-text-secondary font-bold text-4xl text-right fadeInLeft10"
        >
          2024
        </h3>
      </div>
      <div
        class="paragraf sektion grid grid-cols-2 gap-20 text-text-primary text-xl pl-14 px-24"
      >
        <div class="">
          <p class="leading-relaxed text-xl ">
            Vi tror på, at analogbilleder stadig har en unik charme, der
            imponerer. Vi elsker det æstetiske udtryk, farverne og den organiske
            følelse, som film formidler, og vi ønsker at dette medium forbliver
            i vores måde at fotografere på.
          </p>
          <p class="mt-12 mb-12 leading-relaxed text-xl ">
            Hos CPH-LAB står vi klar til at hjælpe dig med at få det bedste ud
            af dine analoge billeder. Vi tilbyder fremkaldelse af dine
            filmruller, scanning af dine negativer, printning af dine
            mesterværker og levering af nye filmruller, når du har brug for dem.
          </p>
        </div>
        <div>
          <p class="leading-relaxed text-xl ">
            Vores mission er at gøre det enkelt for alle at skyde analogt og at
            sikre en pålidelig fremkaldelsesproces. CPH-LAB ønsker at give folk
            mulighed for at opleve dette særlige udtryk ved at tilbyde en
            tilgængelig platform.
          </p>
          <p class="mt-12 leading-relaxed text-xl ">
            Vi har til hensigt at forene det analoge medium med dets tidløse
            charme og samtidig tilbyde en let og tilgængelig service, der
            leveres på et digitalt sølvfad..
          </p>
        </div>
      </div>
    </div>
  </section>